version: "3.8"
services:
    flaskapp:
      container_name: flaskapp
      build:
        context: .
      ports:
        - "80:80"
     restart: always
     healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s 
    
